
<%

#
# CBRAIN Project
#
# $Id: _civet_file_from_col.html.erb 579 2009-10-23 19:41:32Z prioux $
#

-%>

<tr>

<td>
  <%= h(file[:name]) %>
  <%= hidden_field_tag 'file_args[][name]',file[:name] %>
</td>
<td><%= check_box_tag 'file_args[][exclude]',value = "exclude" ,checked = false %></td>
<td><%= check_box_tag 'file_args[][doFieldMap]',value = "doFieldMap" ,checked = false %></td>
<td><%= check_box_tag 'file_args[][doCleanUP]',value = "doCleanUP" ,checked = true %></td>
