<!-- 
   Partial to be rendered for Spmbatch.rb
-->

<script language="JavaScript" type="text/javascript">
<!--

function insert_a_line(aForm, text, value)
{
	if(aForm.length == 0){
	    var newOpt1 = new Option(text, value);
	    aForm.options[0] = newOpt1;
	    aForm.selectedIndex = 0;
	}
	else{
        var newOpt = new Option(text, value);
        aForm.options[aForm.length] = newOpt;
	}
}

function removeABatch(aForm)
{
  var index = aForm.selectedIndex;
  if (index != -1) {
    for(i=aForm.length-1; i>=0; i--)
    {
      if(aForm.options[i].selected)
      {
        aForm.options[i] = null;
      }
    }
    if (aForm.length > 0) {
      aForm.selectedIndex = index == 0 ? 0 : index - 1;
    }
  }
}

function selectAllOptions(selection)
{
	for(i=0; selection.length; i++){
	   var input = document.createElement("input");
	   input.type = "hidden";
	   input.name = "cbrain_task[params][batch_file_ids][" + i + "]";
	   input.value = selection.options[i].value;
           document.getElementById("spmbatch_created_inputs").appendChild(input);
	}
}

//-->
</script>

  <table class="simple">
  <tr>
  <td><h2>SPM Batch Task</h2></td>
  </tr>
  <tr>
  <td align=left><%= render :partial => "tasks/cbrain_task/spmbatch_howto_note"%></td>
  </tr>
  </table>


     <h3>Choose Batchs to submit</h3>

	 <table class="simple">
	 <tr>
		<td></td>
		<td></td>
		<td><small>Execution from top to bottom</small></td>		
	 </tr>
	 <tr>
	 <td>
	 <select name="batchs_in" size="6" <%= options_for_select(params[:batch_files].map{|p| [p.name,p.id]}) %>></select>
	 </td>
	 <td>
	 <input type="button" value="=>" 
	        onclick="index = this.form.batchs_in.selectedIndex;
	                 insert_a_line(this.form.batchs_out, this.form.batchs_in.options[index].text,this.form.batchs_in.value );
	                 removeABatch(this.form.batchs_in); " /><br/>	
	 <input type="button" value="<="
	        onclick="index = this.form.batchs_out.selectedIndex;
	                 insert_a_line(this.form.batchs_in, this.form.batchs_out.options[index].text,this.form.batchs_out.value); 
	                 removeABatch(this.form.batchs_out);" />
	 </td>
	 <td>	
	 <select name="batchs_out" size ="6" MULTIPLE></select>
         </td>
         </tr>
         </table> 


     <table class="simple">
       <tr> 
           <th>Control Options</th>
       </tr>
       <tr>
         <td> 
	       <table class="simple">
		         <td>
			        <%= render :partial => "tasks/cbrain_task/spmbatch_validate_note" %>
	             </td>
	             <td>
	               <%= check_box_tag( :noValidation.to_la, "1", params[:noValidation] ) %>     
	             </td>
             </tr>
             <tr>
		         <td>
                   <%= render :partial => "tasks/cbrain_task/spmbatch_saveall_note" %>
	             <td>
	               <%= check_box_tag( :save_all.to_la, "1", params[:save_all] ) %>     
	             </td>
             </tr>
           </table>
         </td>
       </tr>
     </table>

     <br>

     <h3>Subjects found in dataset: <em><%= Userfile.find(params[:collection_id]).name %></em></h3>
     <%= hidden_field_tag :collection_id.to_la, params[:collection_id] %>

     <%= render :partial => "tasks/cbrain_task/spmbatch_subjects_note" %>

      <table>
         <tr>
           <th>Subjects name</th>
           <th>Exclude?</th>
           <th>Create Field Map?</th>
           <th>Clean Up?</th>
         </tr>
         <% params[:file_args].values.each_with_index do |file,idx| %>
           <%= render :partial => 'tasks/cbrain_task/spmbatch_subjects_from_col',  :locals  => {:idx => idx, :file => file} %>
         <% end %>
      </table>	

      <center>
      <% if @task.new_record? %>
        <%= submit_tag 'Start Spmbatch',  :onclick => "selectAllOptions(this.form.batchs_out);" %>
      <% else %>
        <%= submit_tag 'Update Spmbatch', :onclick => "selectAllOptions(this.form.batchs_out);" %>
      <% end %>
      </center>

      <div id="spmbatch_created_inputs"></div>

