
<tr>

<td>
  <%= h(file[:name]) %>
  <%= hidden_field_tag "file_args[#{idx}][name]".to_la ,file[:name] %>
</td>
<td><%= check_box_tag "file_args[#{idx}][exclude]".to_la ,    "exclude"    , file[:exclude]    %></td>
<td><%= check_box_tag "file_args[#{idx}][doFieldMap]".to_la , "doFieldMap" , file[:doFieldMap] %></td>
<td><%= check_box_tag "file_args[#{idx}][doCleanUP]".to_la ,  "doCleanUP"  , file[:doCleanUP]  %></td>

</tr>
