
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<tr>

<td>
  <%= h(file[:name]) %>
  <%= hidden_field_tag "file_args[#{idx}][name]".to_la ,file[:name] %>
</td>
<td><%= check_box_tag "file_args[#{idx}][exclude]".to_la ,    "exclude"    , file[:exclude]    %></td>
<td><%= check_box_tag "file_args[#{idx}][doFieldMap]".to_la , "doFieldMap" , file[:doFieldMap] %></td>
<td><%= check_box_tag "file_args[#{idx}][doCleanUP]".to_la ,  "doCleanUP"  , file[:doCleanUP]  %></td>

</tr>

